.outline {
    max-height: 100vh;
  }
  .Container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: #f5f5f5;
  }
  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
}
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}
.read-email {
  background-color: #b8b7b7;
}

.unread-email {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}
.home-screen {
  padding-left: 2rem;
  padding-right: 2rem;
}

.inbox-list {
  max-height: 650px; /* Set the maximum height for the list */
  overflow-y: auto; /* Enable vertical scroll if the list exceeds the maximum height */
}
body {
  min-height: 100vh;
  display: flex;
  background-color: #efefef;
}
#root {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.App{
  flex-grow: 1;
}
.Home{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  max-height: 100%;
}
.html, body {
  max-height: 100vh;
}